body {
    color: #660033;
    background-color: #CC33CC;
    font-family: 'Lobster', cursive;
}

/* Want everything to be in the center of the page */
.masthead-heading, .add-item-section, .purchased-section, .to-buy-section { text-align: center; }

.list-one, .list-two {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* width: 60em; */
    background-color: #FF33FF;
    border-radius: 2em;/* 10px;*/
}

.list-two > ul > li {
    text-decoration: line-through;
}

form > span > input {background-color: #FF33FF;}
li {
    list-style-type: none;
    text-align: left;
    /* margin: 25em; */
    /* border: 25em; */
}

ul {padding: 1em;}

.add-item-section{}
.to-buy-section{
  input[type="checkbox"].checked : true;
}

.purchased-section
{
  input[type="checkbox"]checked : false;
}
/*.b {color: #660033;}*/
.close
{
    position: relative;
    text-align: left;
    color: #660033;
    align-content: flex-end;
    /*left: 50em;*/
    /* self-align: flex-end; */ /* trying to put on right side - positions to left of container but not sure how big li container is...*/
}
